.header {
  margin: 0;
  padding: 30px 0 0 0;
  background-image: url("./../../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 30% 1fr;
}