.info-grid__description {
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-weight: 600;
  font-size: 16px;
  color: hsl(232, 10%, 55%);
  line-height: 1.6;
}


@media screen and (max-width: 1060px) {
  .info-grid__description {
    font-size: 12px;
    line-height: 1.4;
  }
}


@media screen and (max-width: 654px) {
  .info-grid__description {
    font-size: 16px;
    line-height: 1.6;
  }
}